.row
  .small-12.small-centered.columns
    %h2.center MY ACCOUNT
    %h3.center
      = @balance.to_f / 100_000_000
      BTC
    %p.center
      = link_to 'Deposit', '#', id: 'deposit'
      |
      = link_to 'Withdraw', new_transaction_path
    %p#address.center.hidden
      = current_user.addresses.last.to_s
  .small-8.small-centered.columns
    %h3 SENT EMAILS
    - if current_user.sent_emails.any?
      - current_user.sent_emails.each do |email|
        .email
          %p
            = email.to
            %span.right.black
              = email.subject
      %br
      %br
    - else
      %p You have not sent any emails yet.
    %h3 RECEIVED EMAILS
    - if current_user.received_emails.any?
      - current_user.received_emails.each do |email|
        .email
          %p
            = email.from
            %span.right.black
              = email.subject
      %br
      %br
    - else
      %p You have not sent any emails yet.

:coffee
  $('#deposit').on 'click', (e) ->
    e.preventDefault()
    $('#address').removeClass 'hidden'
